@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap");


.alfa-slab one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
H1{
    font-family: "Alfa Slab One", serif;
    font-size: 30px;
    text-align: center;
}
H3{
    font-size: 15px;
    text-align: center;
}

.HD {
    background-color: #feffdb;
    padding: 50px;

}


.container {
    background-color: greenyellow;
    border-color: black;
    border: 5px solid;

}

.retro-div {
    width: 300px;
    height: 100px;
    text-align: center;
    align-content: center;
    padding: 30px 30px 0;
    margin: 20px;
    border: 3px solid rgb(70, 70, 70);
    box-shadow:
            3px 3px 0px 3px rgb(100, 100, 100);
    border-radius: .5em;
    background-color: white;

}
.general{
    background-color: #f08c98 ;

}
footer{
    border-color: #8d1616;
    border: 5px solid;
    background-color: black;
    width: 100%;
    hight:100px;
}

#m {
    margin:auto;

    padding: 5px;
    display: block;
    width: 20%;

    background-color: #ba379b;


}